{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <section class="site-section">
      <div class="container">
        
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            
            <div class="row">
              <div class="col-md-12">
                <h2 class="mb-4">S Abhinav Anand</h2>
                <p>S. Abhinav Anand is a budding writer, violinist and a huge football fan. He lives and breathes Manchester United, while also being an avid reader. Some of his favourite writers include Neil Gaiman, Stephen King and Alan Moore. An ardent cinema enthusiast, he is a huge fan of Christopher Nolan and Guillermo del Toro. He is currently pursuing engineering in IT.</p>
                <p>A Red Devil from the very beginning, some of his favourite players at the club include David de Gea and Ander Herrera. He is a big fan of Sir Alex Ferguson, and a voracious consumer of Football Daily videos.</p>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <h2 class="mb-4">Sahil Mathur</h2>
                <p>A sportswriter (formerly for Cricnwin) Sahil Mathur writes about everything cricket. When he isn’t analyzing every cover drive and inside edge, you can find him binging The Office and Seinfeld. He is currently pursuing a degree in journalism.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}