<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ post.topic_text }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% else %}
    <a href="{% url 'blog:post_edit' post.pk %}">Edit</a>
    {% if post.pub_date == None %}
    <a href="{% url 'blog:publish_post' post.pk %}">Publish</a>
    {% endif %}
    <a href="{% url 'blog:post_delete' post.pk %}">Delete</a>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="img">
    {% endif %}
    <br>
    {{ post.content_text|safe }}
    {% endif %}
    <form action="{% url 'blog:vote' post.id %}" method="Post">
        {% csrf_token %}

        <input type="submit" value="( {{ post.vote }} ) Upvote">
    </form>
    <hr>
    <h1>Comments: </h1>
    <a href="{% url 'blog:comment' post.id %}">Leave a reply</a>
    <form method="Post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form %}
        <input type="submit" value="Comment">
        {% endif %}
    </form>
    {% for comment in post.comments.all %}
        <div class="comment">
            {% if comment.was_published_recently %}
            <div class="date">{{ comment.pub_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
            {% endif %}
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}

</body>
</html>